// BREAKPOINTS
$mobile-landscape: 480px
$tablet: 768px
$desktop: 992px
$widescreen: 1140px

// GRID
$size-grid-padding: 0.7rem

// CONTENT
$size-content-width-max: 70rem
$size-content-width-min: 15rem
$size-side-bar: 15rem
$size-music-player: 3rem

// INPUTS
$size-input-padding-vertical: 0.75em
$size-input-padding-horizontal: 1em
$size-input-padding: $size-input-padding-vertical $size-input-padding-horizontal
$size-input-border: 1px
$size-input-border-radius: (1em + $size-input-padding-vertical * 2) / 10

// BUTTONS
$size-button-padding-vertical: $size-grid-padding / 1.2
$size-button-padding-horizontal: $size-grid-padding / 1.5
$size-button-padding: $size-button-padding-vertical $size-button-padding-horizontal
$button-margin: 1rem