/* Slide Left

.slide-left-enter-active, .slide-left-leave-active
  transition: transform 0.15s cubic-bezier(1, 0.5, 0.8, 1)

.slide-left-enter
  transform: translateX(100%)
  opacity: 1

.slide-left-leave-to
  transform: translateX(-100%)
  opacity: 0

/* Slide Right

.slide-right-enter-active, .slide-right-leave-active
  transition: transform 0.3s cubic-bezier(1, 0.5, 0.8, 1)

.slide-right-enter
  transform: translateX(-100%)
  opacity: 1
  transition: transform 0.3s cubic-bezier(1, 0.5, 0.8, 1)

.slide-right-leave-to
  transform: translateX(100%)
  opacity: 0
  transition: transform 0.3s cubic-bezier(1, 0.5, 0.8, 1)


/* Fade

.fade-enter-active, .fade-leave-active
  transition: opacity .15s

.fade-enter-active
  transition-delay: 0.15s

.fade-enter, .fade-leave-active
  opacity: 0

/* Component Fade

.component-fade-enter-active, .component-fade-leave-active
  transition: opacity .3s ease

.component-fade-enter, .component-fade-leave-to
  opacity: 0

/* Bounce

.bounce-enter-active
  animation: bounce-in .5s

.bounce-leave-active
  animation: bounce-in .5s reverse

@keyframes bounce-in
  0%
    transform: scale(0)

  50%
    transform: scale(1.5)

  100%
    transform: scale(1)
