@import 'reset'
@import 'manix-grid'
@import 'typography'
@import 'essentials'
@import 'animations'
@import 'transitions'


.body
  overflow-x: hidden

hr.chalkyHr
  border-width: 3px
  border-image: url(~@assets/img/horizontal-line.png) 5 round
